* {
  opacity: 1 !important;
}
body {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
h1 {
/*  color: #555; */
}
h2 {
/*  color: #AAA; */
  font-size: 14pt;
  margin-left: -120px;
  width: 120px;
}
.content {
  box-shadow: none;
  border: none;
  margin: 0;
  background-color: white;
  filter:progid:DXImageTransform.Microsoft.Shadow(enabled=false),
}
address {
  display: inline;
  float: none;
  position: relative;
  margin-top: -20px;
}
p.profile {
  display: none;
}
img.qr-code {
  display: block;
}
img.photo {
  display: none;
}
a {
  text-decoration: none;
  color: #333;
}
p {
  font-size: 10.5pt;
}
.section {
  /*border-top-color: #AAA;*/
  padding-left: 120px;
}
.section p, .section li {
  font-size: 10pt;
}
.experience h3 {
  /*border-top-color: #AAA;*/
}
#interests a:link:after, .section a:visited:after {
  content: " \2014 " attr(href);
  font-size: 9pt;
  color: #666;
}
#intro p a:link:after, #interests p a:link:after, .section p a:link:after {
  content: " (" attr(href) ")";
  font-size: 9pt;
  color: #666;
}
@page {
  size: auto;
  margin: 10mm 10mm 15mm 15mm;
}
.content {
  background: white;
}
body {
  margin: 0px;
  padding: 0mm;
}
p {
  page-break-inside: avoid;
}
h3, h4, p.period {
  page-break-after: avoid;
}
.timeline {
  margin-top: -25px;
}
div.tick {
  display: none;
}
ul li p {
  display: inline;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  width: auto !important;
  background-color: white !important;
  background: none !important;
}
ul li p.go-up {
  display: none;
}
ul li p:after {
  content: ', ';
}
ul li p:last-child:after {
  content: '.';
}
div.timeline h4 {
  float: none;
  display: inline;
  width: auto;
  margin: 0;
  /*color: #333;*/
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}
div.timeline h4:after {
  content: ': ';
}
.timeline li {
  list-style-type: disc;
}
.period {
  text-shadow: none;
}
.footer {
  display: none;
}
.no-print {
  display: none;
}
